.header-container{
    background-color: black;
    padding: 20px 20px;
    margin-bottom: 20px;

    .logo{
        color: red;
        font-size: 25px;
    }

    nav a{
        text-decoration: none;
    }
}